<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
	<title></title>
</head>
<body>
  <form action="log" method="POST" class="log">
  	<table align="center" cellspacing="10px">
  		<tr>
  			<td>Username</td>
  			<td><input type="text" name="uname"></td>

  		</tr>
  		<tr>
  			<td>Password</td>
  			<td><input type="password" name="pwd"></td>
   		</tr>
  	
  		<tr>
  			<td style="color:purple;"><input type="submit" name="submit"></td>
  		</tr>
  	</table>
  </form>
</body>
</html>